<h1>Editing rings category</h1>

<%= render "form", rings_category: @rings_category %>

<br>

<div>
  <%= link_to "Show this rings category", @rings_category %> |
  <%= link_to "Back to rings categories", rings_categories_path %>
</div>
