<div id="<%= dom_id grothendieck_sites_category %>">
  <p>
    <strong>Grothendieck sites description:</strong>
    <%= grothendieck_sites_category.grothendieck_sites_description %>
  </p>

  <p>
    <strong>Grothendieck topologies:</strong>
    <%= grothendieck_sites_category.grothendieck_topologies %>
  </p>

  <p>
    <strong>Underlying rings category:</strong>
    <%= grothendieck_sites_category.underlying_rings_category %>
  </p>

</div>
