<h1>New grothendieck sites category</h1>

<%= render "form", grothendieck_sites_category: @grothendieck_sites_category %>

<br>

<div>
  <%= link_to "Back to grothendieck sites categories", grothendieck_sites_categories_path %>
</div>
