<h1>New stacks as the sheaves category</h1>

<%= render "form", stacks_as_the_sheaves_category: @stacks_as_the_sheaves_category %>

<br>

<div>
  <%= link_to "Back to stacks as the sheaves categories", stacks_as_the_sheaves_categories_path %>
</div>
