<div id="<%= dom_id prestacks_as_the_presheaves_category %>">
  <p>
    <strong>Prestacks as the presheaves categories description:</strong>
    <%= prestacks_as_the_presheaves_category.prestacks_as_the_presheaves_categories_description %>
  </p>

  <p>
    <strong>Prestacks as the presheaves categories target categories:</strong>
    <%= prestacks_as_the_presheaves_category.prestacks_as_the_presheaves_categories_target_categories %>
  </p>

  <p>
    <strong>Underlying grothendieck sites category:</strong>
    <%= prestacks_as_the_presheaves_category.underlying_grothendieck_sites_category %>
  </p>

</div>
