<h1>New prestacks as the presheaves category</h1>

<%= render "form", prestacks_as_the_presheaves_category: @prestacks_as_the_presheaves_category %>

<br>

<div>
  <%= link_to "Back to prestacks as the presheaves categories", prestacks_as_the_presheaves_categories_path %>
</div>
