<h1>Editing reference</h1>

<%= render "form", reference: @reference %>

<br>

<div>
  <%= link_to "Show this reference", @reference %> |
  <%= link_to "Back to references", references_path %>
</div>
