<h1>Editing fundamental question</h1>

<%= render "form", fundamental_question: @fundamental_question %>

<br>

<div>
  <%= link_to "Show this fundamental question", @fundamental_question %> |
  <%= link_to "Back to fundamental questions", fundamental_questions_path %>
</div>
