<div id="<%= dom_id learners_discussion %>">
  <p>
    <strong>Learners discussions date:</strong>
    <%= learners_discussion.learners_discussions_date %>
  </p>

  <p>
    <strong>Learners discussions text:</strong>
    <%= learners_discussion.learners_discussions_text %>
  </p>

  <p>
    <strong>Learners discussions references:</strong>
    <%= learners_discussion.learners_discussions_references %>
  </p>

</div>
