<h1>Editing learners discussion</h1>

<%= render "form", learners_discussion: @learners_discussion %>

<br>

<div>
  <%= link_to "Show this learners discussion", @learners_discussion %> |
  <%= link_to "Back to learners discussions", learners_discussions_path %>
</div>
